@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Inconsolata:wght@300;400;500;700&family=Roboto:wght@300;400&family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 40px;
}

header h1 {
  font-family: "Crimson Text", serif;
  font-weight: 300;
}

header ul {
  padding-top: 20px;
}

header ul .fa-times {
  display: none;
}

header ul li {
  padding-left: 20px;
  display: inline;
  font-weight: 600;
}

header .fas {
  display: none;
}

.showcase-top {
  text-align: center;
}

.showcase-top img {
  width: 40%;
  object-fit: scale-down;
}

.showcase-top h1 {
  padding-left: 13em;
  padding-right: 13em;
}

.showcase-top h3 {
  font-family: "Inconsolata", serif;
  font-weight: 400;
  margin-left: 22em;
  margin-right: 22em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.articles {
  margin-left: 20em;
  margin-right: 20em;
  text-align: center;
}

.articles h1 {
  font-family: "Crimson Text", serif;
}

.articles span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articles span .article a {
  text-decoration: none;
}

.articles span .article p {
  color: #000;
  font-family: "Rubik", serif;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer .footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer .footer-mid h1 {
  font-family: "Crimson Text", serif;
  font-weight: 300;
}

footer .footer-mid p {
  padding-left: 29em;
  padding-right: 29em;
}

footer .footer-bottom ul {
  display: flex;
  margin-left: 35em;
  margin-right: 35em;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}

footer .footer-bottom ul li {
  list-style: none;
}

footer .footer-bottom ul li a {
  color: #fff;
  font-family: "Roboto", serif;
}

footer .footer-bottom span p {
  font-family: "Roboto", serif;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.top-section {
  text-align: center;
}

.top-section h1 {
  font-family: "Crimson Text", serif;
  padding-left: 14em;
  padding-right: 14em;
}

.top-section h3 {
  font-family: "Inconsolata", serif;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 24em;
  padding-right: 24em;
  padding-bottom: 40px;
}

.main-section {
  border-top: 2px solid #000;
  margin-top: 20px;
  margin-left: 26em;
  margin-right: 26em;
}

.main-section .author {
  display: flex;
  padding-top: 20px;
}

.main-section .author span {
  padding-top: 10px;
  padding-left: 30px;
  font-family: "Roboto", serif;
}

.main-section .author span h3 {
  font-size: 14px;
  padding-bottom: 10px;
}

.main-section .author span h4 {
  font-weight: 300px;
  font-size: 12px;
}

.main-section .blog-text {
  font-size: 20px;
}

.main-section .blog-text p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-section .blog-text h2 {
  font-family: "Roboto", serif;
}

.main-section .blog-text img {
  width: 100%;
}

.main-section .blog-text .caption {
  font-family: "Roboto", serif;
  text-align: center;
  font-weight: 400;
}

.main-section .blog-text ul {
  padding-left: 20px;
}

.share {
  margin-left: 26em;
  margin-right: 26em;
  padding-left: 3em;
  padding-right: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-family: "Roboto", serif;
}

.share .button {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.share .button:nth-child(1) {
  border-left: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.share .button:nth-child(2) {
  border-left: 1px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buttons {
  display: none;
}

.tags {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 26em;
}

.tags a {
  color: #000;
}

.about {
  margin-left: 26em;
  margin-right: 26em;
  padding-top: 40px;
  border-top: 1px dotted #000;
  display: flex;
}

.about span {
  padding-left: 10px;
  padding-top: 8px;
}

.about span strong {
  font-family: "Roboto", serif;
}

.next {
  margin-top: 80px;
  border-top: 1px solid #000;
  text-align: center;
}

.next h1 {
  font-weight: 600;
}

.next .posts {
  margin-left: 160px;
  margin-right: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.next .posts .article a {
  text-decoration: none;
}

.next .posts .article p {
  color: #000;
  font-family: "Rubik", serif;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
}

.newsletter {
  margin-left: 26em;
  margin-right: 26em;
  margin-bottom: 4em;
  border-top: 6px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.newsletter h2 {
  padding-top: 40px;
  text-align: center;
}

.newsletter p {
  font-family: 'Roboto',serif;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.newsletter form {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
}

.newsletter form input {
  margin-left: 60px;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  border: 1px solid black;
  outline: transparent;
  width: 56%;
}

.newsletter form button {
  margin-left: 0px;
  background-color: #000;
  color: #fff;
  outline: transparent;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  body header {
    padding-top: 20px;
    margin-left: 10px;
  }
  body header h1 {
    font-size: 20px;
  }
  body header ul {
    display: none;
    flex-direction: column;
    text-align: center;
    padding-bottom: 60px;
    width: 100%;
    position: absolute;
    background-color: white;
  }
  body header ul .fa-times {
    cursor: pointer;
    display: block;
    padding-left: 190px;
    padding-bottom: 40px;
  }
  body header ul li {
    padding: 0px;
  }
  body header .fas {
    display: block;
    padding-top: 8px;
    cursor: pointer;
  }
  body .showcase-top img {
    width: 60%;
  }
  body .showcase-top h1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  body .showcase-top h3 {
    margin-left: 00px;
    margin-right: 00px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body .articles {
    margin-left: 0px;
    margin-right: 0px;
  }
  body .articles span {
    display: flex;
    flex-direction: column;
  }
  body footer .footer-mid p {
    padding-left: 40px;
    padding-right: 40px;
  }
  body footer .footer-bottom ul {
    margin-left: 5.4em;
    margin-right: 5.4em;
  }
  body .top-section h1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  body .top-section h3 {
    padding-left: 40px;
    padding-right: 40px;
  }
  body .main-section {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .share {
    margin-left: 0px;
    margin-right: 0px;
  }
  body .share .button {
    display: none;
  }
  body .buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 6em;
    margin-right: 6em;
  }
  body .buttons span {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .buttons .fa-facebook {
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  body .buttons .fa-twitter {
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
  }
  body .buttons .fa-whatsapp {
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  body .tags {
    padding-top: 20px;
    margin-left: 20px;
  }
  body .about {
    margin-left: 1em;
    margin-right: 1em;
  }
  body .about span {
    font-size: 14px;
  }
  body .next .posts {
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  body .newsletter {
    margin-left: 0px;
    margin-right: 0px;
  }
  body .newsletter form input {
    margin-left: 10%;
  }
}
